[Unit]
Description=Loki network node (%i)
After=network-online.target
PartOf=loki-nodes.target

[Service]
User=_loki
Type=notify
WatchdogSec=5min
WorkingDirectory=/var/lib/loki
LimitNOFILE=16384
Restart=always
RestartSec=5s
ExecStart=/usr/bin/lokid --non-interactive --config-file /etc/loki/node-%i.conf
# Enable coloured daemon output:
Environment=TERM=xterm

[Install]
WantedBy=multi-user.target
