[Unit]
Description=Loki storage server (%i)
After=network-online.target
Wants=loki-node@%i.service
After=loki-node@%i.service
PartOf=loki-storage-servers.target

[Service]
User=_loki
Type=notify
WatchdogSec=5min
WorkingDirectory=/var/lib/loki
Restart=always
RestartSec=5s
ExecStart=/usr/bin/loki-storage --config-file /etc/loki/storage-%i.conf

[Install]
WantedBy=multi-user.target

