[Unit]
Description=Oxen storage server (%i)
After=network-online.target
Wants=oxen-node@%i.service
After=oxen-node@%i.service
PartOf=oxen-storage-servers.target

[Service]
User=_loki
Type=notify
WatchdogSec=5min
WorkingDirectory=/var/lib/oxen
LimitNOFILE=16384
Restart=always
RestartSec=5s
ExecStart=/usr/bin/oxen-storage --config-file /etc/oxen/storage-%i.conf

[Install]
WantedBy=multi-user.target

