[Unit]
Description=Oxen network node (%i)
After=network-online.target
PartOf=oxen-nodes.target

[Service]
User=_loki
Type=notify
WatchdogSec=5min
WorkingDirectory=/var/lib/oxen
LimitNOFILE=16384
Restart=always
RestartSec=5s
ExecStart=/usr/bin/oxend --non-interactive --config-file /etc/oxen/node-%i.conf
# Enable coloured daemon output:
Environment=TERM=xterm

[Install]
WantedBy=multi-user.target
Alias=loki-node@.service
