Source: oxen-multi-sn
Section: metapackages
Priority: optional
Maintainer: Jason Rhinelander <jason@session.foundation>
Build-Depends: debhelper (>= 11~)
Standards-Version: 4.1.4
Homepage: https://github.com/jagerman/loki-multi-sn

Package: oxen-multi-sn
Architecture: all
Multi-Arch: foreign
Depends: curl, oxend (>= 11.2.0-1~), lokinet-bin (>= 0.9.13-2~), oxen-storage-server (>= 2.10.0-1~), debconf
Description: Oxen service node multi-SN helper package
 This package contains service templates, targets, and a helper script to set
 up multiple SNs on the same machine.
 .
 This is unsupported and requires a significantly more powerful machine than
 what is required to run a single service node.
 .
 For more details on how to use this, see
 https://github.com/jagerman/loki-multi-sn
